# Maven
/target/
.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse / STS
.project
.classpath
.settings/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / local config
application-local.yml
application-local.properties

# Others
*.swp
